@font-face {
    font-family: 'Futura';
    src: url('../font/Futura Medium.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Futura;
    --couleurPrincipale: #e9225e;
    list-style: none;
}
h1{
    color: var(--couleurPrincipale);
}
main{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 50px;
    font-size: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    padding:  0 20px;
    width: 100%;
}
input, button, select, textarea, a{
    font-size: 1rem;
    margin: 10px;
}
label{
    width: 20%;
    margin: 10px 0 10px 10px;
}
input, select, textarea{
    margin: 10px;
}
.widthNormal{
    width: auto;
}
.divInputLabel{
    display: flex;
    flex-direction: row;
}
#labelTitreCategorie{
    margin: 0;
}
#divInputCategorie{
    width: 100%;
}
#divInputCategorie input{
    width: 60%;
    margin: 0;
}
#divInputCategorie button{
    width: 38%;
    margin: 0;
}
.divThemeExercice{
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
}
.textAreaInput{
    height: 65px;
    resize: none;
}
#textItem{
    width: 100%;
}
.classThemeExercice{
    width: 48%;
}
    #divRadioAjout, #divRadioSuppr{
    display: flex;
    justify-content: space-evenly;
}
legend{
    padding: 5px;
    border: 5px solid var(--couleurPrincipale);
    margin: auto;
    border-radius: 10px;
}
fieldset, .divDataBase, .divCommentaire{
    border: 5px solid var(--couleurPrincipale);
    border-radius: 10px;
}
button, a{
    background-color: var(--couleurPrincipale);
    border: var(--couleurPrincipale) 5px solid;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
    width: calc(100% - 40px);
    text-align: center;
}

.divUn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#erreur{
    color: red;
    text-align: center;
}
.messageCommentaire{
    width: 85%;
}
.inputModal{
    width: 100%;
}
.categorieDataBase{
    background-color: var(--couleurPrincipale);
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 5px var(--couleurPrincipale) solid;
}

.themeDataBase, .exerciceDataBase, .itemNode{
    border-bottom: 5px var(--couleurPrincipale) solid;
    border-radius: 10px;
    padding: 0 10px;
}

.divDataBase{
    cursor: pointer;
    padding: 10px;
    margin: 30px 10px;
    text-align: center;
}

.h1DataBase{
    text-align: center;
    width: 20%;
}

.h1Button{
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.buttonsDataBase{
    display: flex;
    width: 80%;
}

.buttonAdd{
    cursor: pointer;
    width: 80%;
    color: white;
    background-color: var(--couleurPrincipale);
    border-radius: 10px;
    border: 10px var(--couleurPrincipale) solid;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.divCommentaire{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
}

.margin{
    margin-right: 20px;
}

.exerciceCommentaire{
    color: var(--couleurPrincipale);
}

.commentaire{
    width: 60%;
    align-items: baseline;
    float: right;
    display: flex;
    flex-direction: row;
}

.noteCommentaire{
    background-color: var(--couleurPrincipale);
    color: white;
    border: 5px var(--couleurPrincipale) solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.date{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.categorieDataBase, .themeDataBase, .exerciceDataBase{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
}

.themeDataBase{
    margin-left: 5%;
}

.exerciceDataBase{
    margin-left: 10%;
}

.itemNode{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.categorieThemeExercice{
    display: flex;
    width: 25%;
    flex-direction: row;
    align-items: baseline;
    margin: 10px;
}
.mot{
    color: white;
    background-color: var(--couleurPrincipale);
    border: 10px solid var(--couleurPrincipale);
    border-radius: 10px;
    margin: 10px;
}
.divDataBaseButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.buttonsForm{
    display: flex;
    flex-direction: row;
    width: 110px;
}

.divButtons{
    display: flex;
    flex-wrap: wrap;
}

.divButtons a{
    width: 45%;
}
.caret {
    cursor: pointer;
    user-select: none;
}

.nested {
    display: none;
}

.active {
    display: block;
}

.hidden{
    display: none;
}
.noMargin{
    margin: 10px 0;
}
.buttonsForm form{
    padding: 0;
}
.categorieDataBase form{
    width: 11%;
}
.categoryNode{
    width: 100%;
}
.button{
    cursor: pointer;
    border: 5px solid;
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 5px var(--couleurPrincipale) solid;
    border-radius: 10px;
    width: 80%;
}

.btClose{
    margin-top: -20px;
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
.titleModal{
    font-weight: bold;
    text-decoration-line: underline;
    margin: 10px;
    font-size: 1.2rem;
}
.unAllowed{
    cursor: not-allowed;
}
img{
    width: 25px;
    height: 25px;
}

.blue, .blue .titleModal{
    border-color: chocolate;
    text-decoration-color: chocolate;
}
.blue button{
    background-color: chocolate;
}
.grey, .grey .titleModal{
    border-color: slategrey;
    text-decoration-color: slategrey;
    cursor: default;
}
.red, .red .titleModal{
    border-color: rebeccapurple;
    text-decoration-color: rebeccapurple;
}
.red button{
    background-color: rebeccapurple;
}
.mainColor, .mainColor .titleModal{
    border-color: var(--couleurPrincipale);
    text-decoration-color: var(--couleurPrincipale);
}
/*.mainColor button, .mainColor .button{
    text-align: center;
}*/
.mainColor .btCloseAddTheme{
    color: var(--couleurPrincipale);
}
.brown, .brown .titleModal{
    border-color: mediumseagreen;
    text-decoration-color: mediumseagreen;
}
.brown button{
    background-color: mediumseagreen;
}
.noBorder{
    border: none;
}

@media (max-width: 1000px) {
    .divThemeExercice{
        flex-direction: column;
    }
    .classThemeExercice{
        width: 100%;
        margin: 20px 0;
    }
}